body {
    font-family: Arial, sans-serif;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #ffead4;
}
.special {
    background-color: #eaceb1;
    border-left: 5px solid #794813;
    border-bottom: 2px solid #ffcc99;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: 50px;
}
.highlights {
    background-color: #fff3e6;
    padding-top: 50px;
    border: 1px solid #ffcc99;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}

header {
    padding-top: 50px;
    padding-left: 20px;
    text-align: center;
    margin-left: 20px;
}

nav a:hover {
    color: rgb(221, 15, 15);
    background-color: azure;
}
nav a:focus {
    background-color: azure;
    padding: 0.25em 0.5em;
}
nav li:last-child {
    border: 2px solid rgb(74, 35, 141);
    border-radius: 5px;
    background-color: azure;
    padding: 0.25em 0.5em;
}

main li:last-child {
    font-weight: bold;
    color: rgb(74, 35, 141);
}

nav ul li {
    display: inline;
    margin-right: 15px;
}


h1 {
    color: hsl(352, 15%, 30%);
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}
h2 {
    color: hsl(352, 15%, 30%);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}
p {
    font-size: 1em;
    line-height: 1.6;
    margin: 0 auto 20px auto;
    max-width: 600px;
    text-align: center;
}
main {
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

}

main li {
    margin-bottom: 0;
    color: hsl(79, 83%, 53%);
}
h3 {
    color: hsl(352, 15%, 30%);
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 30px;
}

main img {
    max-width: 200px;
    height: auto;
    margin: 10px 0;
    border: 2px solid #794813;
}